@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

// .header {
//     width: 100%;
//     height: 100px;

//     background-color: #0f0f0f;

//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .navigation_bar {
//     width: 95%;
//     height: 100%;


//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .header_logo {
//     width: 60px;
//     height: 60px;

//     border-radius: 100%;

//     background: #ffffff1a;
// }

// .icon {
//     margin: 20px;

//     font-size: 30px;

//     color: #fff;

//     user-select: none;
// }

// .header_search {
//     width: 500px;
//     height: 50px;

//     border: 2px solid #ffffff1a;
//     overflow: hidden;
//     border-radius: 100px;

//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-align: center;

// }

// .header_search input {
//     width: 100%;
//     margin-left: 20px;

//     font-size: 20px;
//     font-family: Arial, Helvetica, sans-serif;

//     color: #fff;
// }

// .header_search .search {
//     padding: 25px;

//     font-size: 30px;

//     background: #222222;

//     color: #fff;

//     user-select: none;
// /}

.header {
    width: 100%;
    height: 100px;

    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation_bar {
    width: 95%;
    height: 100%;


    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    gap: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_img {

}

.logo_text {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: #222;
}

.logo_text .logo_text_color {

}

.icon {
    margin: 20px;

    font-size: 30px;

    color: #222;

    user-select: none;
}

.header_search {
    width: 600px;
    height: 50px;

    border: 2px solid #efefef;
    overflow: hidden;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.header_search input {
    width: 100%;
    margin-left: 20px;

    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

    color: #222;
}

.header_search .search {
    padding: 25px;

    font-size: 30px;

    background: #efefef;

    color: #222;

    user-select: none;
}

