.slider {
	position: relative;
	
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 90lvh;

	background: #2152;

	.slider__button-left, 
	.slider__button-right {
		background: none;
		border: none;

		display: flex;
		justify-content: center;
		align-items: center;

		.material-symbols-outlined {
			text-align: center;
			color: white;

			display: flex;
			justify-content: center;
			align-items: center;

			&.slideIcon {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 48px;
				background: none;
			}
		}
	}
}
